<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxw.dbchangelog.mapper.UpdateLogMapper">

    <insert id="insertLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO update_logs
            (table_name, primary_id, command_type, final_sql, params, row_affect, update_time)
        VALUES
            (#{tableName}, #{primaryId}, #{commandType}, #{finalSql}, #{params}, #{rowAffect}, #{updateTime})
    </insert>

</mapper>